:root {
  --global-opacity: 0.95;

  /* Colors */
  --beige: #CCB6A0;
  --blue: #00B3C5;
  --dark-gray: #433C38;
  --green: #6EBD4B;
  --pink: #D32D8F;

  /* Sizes */
  --cell-size: 9rem;
  --counter-size: 2rem;
  --level-button-size: 2rem;
  --player-size: 4rem;
  --square-size: 10rem;
}

@keyframes player-bob {
  50% { transform: translateZ(13rem); }
}

@keyframes unpressed-breathe {
  50% { transform: translateZ(8rem) scale(0.95); }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  /* Sets up font size so that 1rem = 10px. */
  font-size: 62.5%;
}

body {
  background-color: var(--dark-gray);
  background-image: radial-gradient(circle, var(--dark-gray), black);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 1;
  overflow: hidden;
  padding: 4rem 2rem 2rem 2rem;
  transition: opacity 1s;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--blue);
  border: 0.2rem solid white;
  border-radius: var(--counter-size);
  height: var(--counter-size);
  margin: 0 auto;
  opacity: var(--global-opacity);
  overflow: hidden;
  transition: width 0.2s;
}

footer {
  color: white;
  display: block;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: auto;
  opacity: var(--global-opacity);
  text-align: center;

  & a {
    color: white;
    border-bottom: 0.2rem solid transparent;
    font-weight: 500;
    text-decoration: none;
    transition: border-bottom-color 0.1s;

    &:hover {
      border-bottom-color: white;
    }
  }
}

main {
  margin: auto;
  position: relative;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
  transition: all 0.2s;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  opacity: var(--global-opacity);
  text-align: center;
}

#game {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  transition: filter 0.5s;

  &.won {
    filter: blur(0.3rem);
  }

  &.lost {
    filter: blur(0.3rem) grayscale(100%);
  }
}

.cell,
.cell::after,
.cell::before {
  /* Helps hide the seams between the planes. */
  box-shadow: inset 0 0 0 0.2rem hsla(0, 0%, 100%, 1);
  content: '';
  height: var(--cell-size);
  opacity: var(--global-opacity);
  position: absolute;
  touch-action: manipulation;
  transition: all 0.1s;
  width: var(--cell-size);
}

.cell {
  margin: calc(var(--square-size) - var(--cell-size));
  transform: translateZ(5rem);
  transform-style: preserve-3d;

  /* Left */
  &::after {
    transform: rotateX(-90deg) translateY(var(--cell-size));
    transform-origin: 100% 100%;
  }

  /* Right */
  &::before {
    transform: rotateY(90deg) translateX(var(--cell-size));
    transform-origin: 100% 0;
  }

  &.pressed {
    background-color: var(--blue);

    &::after {
      background-color: color(var(--blue) tint(7%));
    }

    &::before {
      background-color: color(var(--blue) tint(14%));
    }
  }

  &.unpressed {
    animation: unpressed-breathe 2s ease-in-out infinite;
    background-color: var(--pink);
    transform: translateZ(8rem);

    &::after {
      background-color: color(var(--pink) tint(7%));
    }

    &::before {
      background-color: color(var(--pink) tint(14%));
    }
  }

  &.broken {
    background-color: var(--beige);

    &::after {
      background-color: color(var(--beige) tint(7%));
    }

    &::before {
      background-color: color(var(--beige) tint(14%));
    }
  }
}

.difficulty-selector {
  appearance: none;
  background-color: transparent;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  color: white;
  font-weight: 500;
  height: var(--level-button-size);
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-transform: lowercase;
}

.level-button {
  background-color: var(--beige);
  border: 0.2rem solid white;
  border-radius: 50%;
  cursor: default;
  height: var(--level-button-size);
  padding: 0;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
  width: var(--level-button-size);

  /* Hide text. */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;

  &.complete {
    background-color: var(--blue);
  }

  &.current {
    background-color: var(--pink);
  }

  &.complete,
  &.current {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.player,
.player::after,
.player::before {
  /* Helps hide the seams between the planes. */
  box-shadow: inset 0 0 0 0.2rem hsla(0, 0%, 100%, 1);
  content: '';
  height: var(--player-size);
  opacity: var(--global-opacity);
  position: absolute;
  transition: all 0.1s;
  width: var(--player-size);
}

.player {
  animation: player-bob 2s ease-in-out infinite;
  background-color: var(--green);
  margin: 3.5rem;
  pointer-events: none;
  transform-style: preserve-3d;
  transform: translateZ(15rem);
  transition: all 0.2s;

  /* Left */
  &::after {
    background-color: color(var(--green) shade(7%));
    transform: rotateX(-90deg) translateY(var(--player-size));
    transform-origin: 100% 100%;
  }

  /* Right */
  &::before {
    background-color: color(var(--green) shade(14%));
    transform: rotateY(90deg) translateX(var(--player-size));
    transform-origin: 100% 0;
  }
}

.progress {
  background-color: var(--pink);
  height: 100%;
  transition: width 0.1s;
}
