:root {
  --player-color: #3498db;
  --switch-on-color: #2ecc71;
  --switch-off-color: #e74c3c;
  --switch-broken-color: #34495e;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  /* Sets up font size so that 1rem = 10px. */
  font-size: 62.5%;
}

#wrapper {
  position: relative;
}

.player {
  background-color: var(--player-color);
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  transition: all 0.2s;
}

.square {
  background-color: black;
  border: 3px solid white;
  position: absolute;
  transition: background-color 0.2s;

  &.on {
    background-color: var(--switch-on-color);
  }

  &.off {
    background-color: var(--switch-off-color);
  }

  &.broken {
    background-color: var(--switch-broken-color);
  }
}
